<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://purlantov-001-site1.gtempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://purlantov-001-site1.gtempurl.com:8172/msdeploy.axd?site=purlantov-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>purlantov-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\purlantov-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LocalConnection" Order="2" Enabled="False">
          <Destination Path="&quot;Data Source=SQL6001.SmarterASP.NET;Initial Catalog=DB_A2B51C_purlantov;User Id=DB_A2B51C_purlantov_admin;Password=RibaMech0102;" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Roland.Data.MsSqlDbContext, Roland.Data" MigrationConfiguration="Roland.Data.Migrations.Configuration, Roland.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ServerConnection" Order="3" Enabled="False">
          <Destination Path="&quot;Data Source=SQL6001.SmarterASP.NET;Initial Catalog=DB_A2B51C_purlantov;User Id=DB_A2B51C_purlantov_admin;Password=YOUR_DB_PASSWORD;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL6001.SmarterASP.NET;Initial Catalog=DB_A2B51C_purlantov;User ID=DB_A2B51C_purlantov_admin;Password=RibaMech0102" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ServerConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL6001.SmarterASP.NET;Initial Catalog=DB_A2B51C_purlantov;User Id=DB_A2B51C_purlantov_admin;Password=RibaMech0102  ;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ServerConnection-Web.config Connection String">
      <ParameterValue>"Data Source=SQL6001.SmarterASP.NET;Initial Catalog=DB_A2B51C_purlantov;User Id=DB_A2B51C_purlantov_admin;Password=YOUR_DB_PASSWORD;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="LocalConnection-Web.config Connection String">
      <ParameterValue>"Data Source=SQL6001.SmarterASP.NET;Initial Catalog=DB_A2B51C_purlantov;User Id=DB_A2B51C_purlantov_admin;Password=YOUR_DB_PASSWORD;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>