@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application is final project for graduating TelerikAcademy.</p>
<h4>And here is me :)</h4>

<img class="img-responsive" src="~/Images/pavel.png"/>