@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Okay, here I am!</h3>
<address>
    Roland DG ASP Project<br />
    Sofia, Bulgaria<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">support@roland.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@roland.com</a>
</address>

<iframe width='100%' height='350' frameborder='0' class="img-rounded" style='border:0' src='https://www.google.com/maps/embed/v1/place?q=sofia%20malinov%2031&key=AIzaSyB-3eF82eujpNm2WmHiRf3kdRRAefAloAg'></iframe>